

body {
  background-color: #FFD7C7;}

h1 {
  font-family: 'Cherry Cream Soda', cursive;
  font-size: 96px;}

h2 {
    font-family: 'Cherry Cream Soda', cursive;
    font-size: 64px;}
h3 {
    font-family: 'Rock Salt';
    font-size: 48px;}
h4 {
    font-family: 'Cherry Cream Soda', cursive;
    font-size: 48px;}
h5 {
    font-family: 'Rock Salt';
    font-size: 24px;}
ul{
    font-family: 'Droid Sans', sans-serif;
}
